<div class="sidebar left">
  <div class="item-wrap" data-href="index.html">
    <div class="item no-border <%- currentPage === 'index'?'active':'' %>">
      <span class="icon icon-index"></span>
      <span class="label">平台概况</span>
    </div>
  </div>
  <div class="item-wrap" data-href="user_type.html">
    <div class="item <%- currentPage === 'user'?'active':'' %>">
      <span class="icon icon-user-sidebar"></span>
      <span class="label">用户统计</span>
    </div>
  </div>
  <div class="item-wrap" data-href="space_echart.html">
    <div class="item <%- currentPage === 'space'?'active':'' %>">
      <span class="icon icon-space"></span>
      <span class="label">空间统计</span>
    </div>
  </div>
  <div class="item-wrap" data-href="app_echart.html">
    <div class="item <%- currentPage === 'app'?'active':'' %>">
      <span class="icon icon-app"></span>
      <span class="label">应用统计</span>
    </div>
  </div>
  <div class="item-wrap" data-href="resource_total.html">
    <div class="item <%- currentPage === 'resource'?'active':'' %>">
      <span class="icon icon-resource"></span>
      <span class="label">资源统计</span>
    </div>
  </div>
  <div class="item-wrap" data-href="teaching_overview.html">
    <div class="item <%- currentPage === 'teaching'?'active':'' %>">
      <span class="icon icon-teaching"></span>
      <span class="label">教研分析</span>
    </div>
  </div>
</div>