
<div class="nav_left fl">
  <ul>
    <li class="<%- currentPage === 'all' ? 'active' : '' %>"><a href="../rank/allRank.html">综合排行</a></li>
    <li class="<%- currentPage === 'school' ? 'active' : '' %>"><a href="../rank/schoolRank.html">学校排行</a></li>
    <li class="<%- currentPage === 'teacher' ? 'active' : '' %>"><a href="../rank/teacherRank.html">教师排行</a></li>
    <li class="<%- currentPage === 'activity' ? 'active' : '' %>"><a href="../rank/activityRank.html">活动排行</a></li>
    <li class="<%- currentPage === 'video' ? 'active' : '' %>"><a href="../rank/videoRank.html">视频排行</a></li>
  </ul>
</div>